.scroll {
    height: 50%;
}
 
#container {
    width: 100%;
    height: 800px;
    position: relative;
}
#loginScreen {
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: 5;
    opacity: 0.75;
}

#loginScreen > div {
    position: relative;
}

#map {
    width: 100%%;
    height: 200%;
    z-index: -99;
}


